# build output
dist/
# generated types
.astro/
# artefactos de despliegue
.vercel/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production
.env.bak.*

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/
